
h1 {
  color:#cdbfef ;
  background-color:#0A0A0A ;
  font-size: ;
  text-align:center;
  text-transform: uppercase;
}

p {
  font-weight:bold ;
  text-align:center;
    color:blue; }

.container {background-color:#fbbc8b }

h3{text-align: center;
}