* {
  font-family: Verdana;
}

.col-md-4{
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.col-md-4:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

h1 {
  color: #ae3d4a;
  background-color: ;
  font-size: 60px;
  text-align: center;
}

p {
  font-weight: ;
  text-align: ;
}
a {
  text-decoration: none;
  color: #ffffff;
  background-color: #ae3d4a;
}

.Donate {
  border-radius: 5px;
	border: 2px solid #ae3d4a;
	background-color: #ae3d4a;
	height: 28px;
	width: 120px;
	margin: left;
	text-align: center;
  font-family: Verdana;
    color: #ffffff;
  display:inline-block;
}

.Contact {
  text-decoration: none;
  color: #ffffff
  
  
}

.Adopt {border-radius: 5px;
	border: 2px solid #ae3d4a;
	background-color: #ae3d4a;
	height: 28px;
	width: 120px;
	margin: left;
	text-align: center;
  font-family: Verdana;
    color: #ffffff;
  display:inline-block;
}

#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family: Verdana;
}
form {
max-width:300px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family: Verdana;
background-color:#fff
}
p {
margin-top:30px
}
h2 {
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family: Verdana;
}
#name {
background-image:url(../images/name.jpg);
background-repeat:no-repeat;
background-position:5px 7px
}
#email {
background-image:url(../images/email.png);
background-repeat:no-repeat;
background-position:5px 7px
}
textarea {
background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:Verdana;
margin-bottom:30px
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#ae3d4a;
color:#fff;
border:1px solid #ae3d4a;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
span {
color:red;
font-weight:700
}
button {
width:10%;
height:45px;
border-radius:3px;
background-color:#ae3d4a;
color:#ffffff;
font-family: Verdana;
font-size:18px;
cursor:pointer
}